*:root {
    --primary-color: #8b0000;
    --secondary-color: #E5DBCB;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
}

/*Header style begins*/
header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}
header h1 {
    font-size: 60px;
    font-weight: bold;
}
header a {
    color: var(--secondary-color);
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul a {
    padding: 20px;
    font-size: 40px;
}
/*Header style ends*/

/*Hero style begins*/
.hero {
    background-image: url("../images/mahogany-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100vw;
    height: 20vw;
}
/*Hero style ends*/

/*Bio begins*/
.bio-segment {
    display: flex;
    margin-bottom: 60px;
}
.bio-segment p {
    text-align: center;
    font-size: 25px;
}
.bio-segment img {
    width: 360px;
    height: 472px;
    margin-right: 25px;
    border: 10px solid var(--primary-color);

}
.title {
    font-size: 48px;
    padding: 40px;
    border-right: 2px dotted var(--primary-color);
}
/* .primary-border {
    padding-right: 5px;
} */
.bio-text {
    margin: 0 10px;
}
/*Bio ends*/

/*Work style begins*/
.work-segment {
    display: flex;
}
.flex-row {
    display: flex;
}
.work-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.card {
    display: inline-block;
    margin: 10px;
}
.card img {
    width: 380px;
    height: 248px;
    border: 10px solid var(--primary-color);
}
.first-card {
    display: inline-block;
    margin: 10px;
}
.first-card img {
    width: 820px;
    height: 400px;
    border: 10px solid var(--primary-color);

}
.work-cards h3 {
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 22px;
}
/*Work style ends*/

/*Footer style begins*/
footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-color);
    width: 100%;
    margin-top: 40px;
}
footer h2 {
    font-size: 45px;
    font-weight: bold;
}
footer address {
    padding: 10px;
    font-size: 30px;
}
footer a {
    color: var(--secondary-color);
}
/*Footer style ends*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 1024px) {
    .first-card img {
        width: 755px;
    }
  }

  /* MEDIA QUERY FOR TABLETS */
  @media screen and (max-width: 768px) {
    .first-card img {
        width: 524px;
        height: 306px;
    }
    .bio-segment img {
        width: 300px;
        height: 388px;
    }
    .bio-segment {
        flex-direction: column;
    }
    .work-segment {
        flex-direction: column;
    }
    /* .bio-segment {
        justify-content: center;
    } */
    .title {
        border-bottom: 2px dotted var(--primary-color);
        border-right: none;
    }
    .bio-text {
        margin: 10px 0;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES/Devices
  @media screen and (max-width: 575px) {

  } */