*:root {
    --primary-color: #c02600;
    --secondary-color: #E5DBCB;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
}

/*Header style begins*/
  header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-size: 45px;
    font-weight: bold;
}
header a {
    color: var(--secondary-color);
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul a {
    padding: 20px;
    font-size: 35px;
}
/*Header style ends*/

/*Hero style begins*/
.hero {
    background-image: url(../images/mahogany-hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*Hero style ends*/

/*Footer style begins*/
footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-color);
    width: 100%;
}
footer h2 {
    font-size: 35px;
}
footer address {
    padding: 10px;
}
footer a {
    color: var(--secondary-color);
}
/*Footer style ends*/